<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <header><%- include('./partials/header', {title:title}); %></header>
        <h3>Welcome <%= currentUser.username %></h3>
        <% if (currentUser && !currentUser.member_status) { %>
        <p class="be-member-text">
            Do you want to be member and write comments? <a href="/member">Click here</a> and join
        </p>
        <% } %> <% if (currentUser && currentUser.member_status) { %>
        <form method="POST" action="">
            <div class="add-message-container">
                <input id="message-title" type="text" name="message_title" placeholder="Title" />
                <textarea
                    class="message_text"
                    placeholder="Text"
                    name="message_text"
                    rows="5"
                ></textarea>
                <% if (errors) { %>
                <ul>
                    <% errors.forEach((error) => { %>
                    <li><%= error.msg %></li>
                    <% }); %>
                </ul>
                <% } %>
                <button class="btn-primary" type="submit">Add message</button>
            </div>
        </form>
        <% } %>
        <div class="content">
            <div class="all-post-wrapper">
                <% allMessages.map(message => { %>
                <div class="post-wrapper">
                    <div class="user-wrapper">
                        <img
                            src="<%= message.createdBy.img %>"
                            alt="<%= message.createdBy.name %>"
                        />
                        <% if(currentUser) { %>
                        <h3><%= message.createdBy.username %></h3>
                        <p><%= message.timestamp %></p>
                        <% } else { %>
                        <h3>Anonymous</h3>
                        <p>MM/DD/YYYY HH:MM</p>
                        <% } %>
                    </div>
                    <div class="message-wrapper">
                        <h1 class="message-title"><%= message.title %></h1>
                        <p class="message-text"><%= message.text %></p>
                        <% if (currentUser && currentUser.admin_status) { %>
                        <div class="icons-container">
                            <a href="<%= message.url %>/edit"
                                ><img
                                    class="edit-icon"
                                    src="/images/icons/edit.svg"
                                    alt="Edit icon"
                                /> </a
                            ><a href="<%= message.url %>/delete"
                                ><img
                                    class="delete-icon"
                                    src="/images/icons/delete.svg"
                                    alt="Delete icon"
                            /></a>
                        </div>
                        <% } %>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
        <footer><%- include('./partials/footer'); %></footer>
    </body>
</html>
